@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Smooth Scroll */
html{
    scroll-behavior: smooth;
}

/* Utility Classes */
.text-secondary{
    color: #55BA53;
}
.text-center{
    text-align: center;
}
.bg-light{
    background: #cfcfcf;
}
.bg-secondary{
    background: #55BA53;
}

.py-0{padding: 16px 0;}
.py-1{padding: 24px 0;}
.py-2{padding: 32px 0;}
.py-3{padding: 48px 0;}

.p-0{padding: 16px;}
.p-1{padding: 24px;}
.p-2{padding: 32px;}
.p-3{padding: 48px;}
.p-4{padding: 1px;}

/* Showcase Area Styling */

/* .showcase{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('./images/background.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100vh;
} */





/* Top Navbar */

.showcase .left li{
    font-size: 14px;
    color: #95A2BB;
    transition: all 0.5s ease;
}
.showcase .left li a:hover{
    color: #55BA53;
}

.showcase .left li:first-child{
    font-weight: 700;
    border-right: 1px solid #536DAF;
}

.showcase .right li a{
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    color: #95A2BB;
    transition: all 0.5s ease;
}
.showcase .right li a:hover{
    color: #55BA53;
}

/* Bottom Navbar */
/* General Navbar Styling */
.showcase .navbar-bottom {
    background: #cfcfcf;
    z-index: 999;
}

/* Sticky Navbar */
.navbar-bottom.sticky {
    background:#cfcfcf;
    border-bottom: 1px solid #0A2940;
    color: #0A2940;
    top: 0;
}

/* Brand Styling */
.showcase .navbar-bottom .brand-left {
    color: #55BA53;
    font-size: 20px;
    font-weight: 700;
    transition: all 0.5s ease;
    flex-direction: row;
    display: flex;
}

.showcase .navbar-bottom.sticky .brand-left {
    color: #0A2940;
}

.showcase .navbar-bottom .brand-left:hover {
    color: #0A2940;
}

/* Menu Styling */
.showcase .navbar-bottom .menu-right {
    font-size: 14px;
    font-weight: 600;
    transition: all 0.5s ease;
}

.showcase .navbar-bottom .menu-right a {
    color: #1A1B1E;
    transition: all 0.5s ease;
}

.showcase .navbar-bottom .menu-right a:hover {
    color: #55BA53;
}

/* Hide Search Icon When Sticky */
.showcase .navbar-bottom.sticky .menu-right li:last-child {
    display: none;
}

.hamburger-menu i {
    font-size: 28px;
    color: #1A1B1E;
}

.auth-buttons .btn {
    background-color: #007bff; /* Blue background */
    color: white; /* White text */
    border-radius: 5px;
    cursor: pointer;
}

.auth-buttons .btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
}


/* Search Form Styling */
.navbar-bottom .search-form {
    position: absolute;
    background: #f4f4f4;
    display: flex;
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.5s ease;
}

.navbar-bottom .search-form.active {
    transform: scaleY(1);
}

.navbar-bottom .search-form input {
    width: 100%;
    height: 100%;
    border: none;
    background: #f4f4f4;
    color: #1A1B1E;
    text-transform: none;
    outline: none;
}

.navbar-bottom .search-form label:hover {
    color: #55BA53;
}
/* Mobile menu styles */
/* Hide the full menu and auth buttons by default on smaller screens */
#menu-right,
.auth-buttons {
    display: none;
}




/* Show the menu and auth buttons on medium and larger screens */
@media (min-width: 768px) {
    #menu-right,
    .auth-buttons {
        display: flex;
    }

    .search-form {
        display: none !important;
    }
    
}

/* Style for showing the menu on mobile when open */
#menu-right.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Adjust as needed */
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 10px;
    z-index: 20; /* Ensures it appears over other elements */
}
  
  


/* Responsive Styles */

/* Swiper Container Styling */

  /* Background Overlay */
  .swiper-slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Semi-transparent overlay */
  }

  .swiper-container{
    overflow: hidden;
  }
  
  .slide-caption {
    transition: transform 1s ease, opacity 1s ease; /* Smooth transition */
  }

  
  .swiper-slide-active .slide-caption {
    transform: translate(-50%, -50%) translateX(0); /* Move to the center */
    opacity: 1;
  }
  
  /* Additional class for right sliding captions */
  .slide-caption-right {
    transform: translate(-50%, -50%)translateX(100%); /* Start off-screen to the right */
  }
  
  /* Apply the right slide animation */
  
  /* Arrows Styling */
  .arrows {
    position: absolute;
    bottom: 2%;
    right: 0;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    border-radius: 8px;
  }
  
  .swiper-icon {
    font-size: 3rem;
    color: #ffffff;
  }
  
  .swiper-next,
  .swiper-prev {
    display: flex;
    background-color: #000000;
    color: white;
    cursor: pointer;
    margin: 0 1rem;
    border-radius: 100%;
    transition: background-color 0.3s;
  }
  
  .swiper-next:hover,
  .swiper-prev:hover {
    /* background-color: #091d36; */
    color: white;
  }
  
  .swiper-next.swiper-button-disabled,
  .swiper-prev.swiper-button-disabled {
    opacity: 1;
    cursor: default;
  }
  
  /* Responsive Styling */
  /* @media (max-width: 996px) {
    .content h1 {
      font-size: 4rem;
    }
  }
  
  @media (max-width: 768px) {
    .swiper-next,
    .swiper-prev {
      width: 3rem;
      height: 3rem;
    }
  }
  
  @media (max-width: 567px) {
    .content {
      width: 100%;
    }
  
    .content h1 {
      font-size: 3rem;
    }
  
    .arrows {
      width: 15rem;
      padding: 0.5rem;
    }
  }
   */

  /* .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */


.container h1 {
    text-align: center;
    color: #55BA53;
    margin-bottom: 20px;
}

.form-section {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fafafa;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #0056b3;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
}

.join {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.join:hover {
    background-color: #0056b3;
}

.join:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.4);
}



/* Services Section Styling */

#services .items .item{
    text-align: center;
    padding: 10px;
    /* margin: 10px; */
    background: #0A2940;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.3), -5px -5px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
    /* margin: 20px; */
}

#services .items .item h3{
    color: #55BA53;
    font-size: 16px;
    margin: 5px;
}
#services .items .item p{
    line-height: 1.4;
    color: #95A2BB;
}
#services .items .item i{
    color: #95A2BB;
}
#services .items .item:hover i{
    color: #55BA53;
}
#services .items .item:hover{
    background:#0A2940;
    transform: scale(1.05);
}
#services .items .item:hover h3{
    color: #f4f4f4;
}

/* Services Section Bottom */


#goal .goal-text a{
    color: #f4f4f4;
    background: #55BA53;
    text-decoration: none;
    font-size: 12px;
    border: 1px solid #55BA53;
    border-radius: 25px;
    padding: 3px 10px;
    transition: 0.5s;
}

#goal .goal-text a:hover{
    color: #55BA53;
    background: #0A2940;
}
#goal .goal-text h2{
    margin: 20px 0;
    color: #0A2940;
}

#goal .goal-text .contents h3{
    font-size: 16px;
    /* padding-bottom: 5px; */
    color: #55BA53;
}
#goal .goal-text .contents p{
    color: #1A1B1E;
}
#goal .goal-text .contents i{
    color: #55BA53;
    padding: 3px;
    background: #0A2940;
    /* align-self: flex-start; */
    border-radius: 5px;
    /* margin-right: 5px; */
}







/* Portfolio Section Styling  */
#portfolio{
    background: #0A2940;
}
.portfolio h3{
    color: #95A2BB;
    font-size: 14px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.portfolio h2{
    font-size: 40px;
    font-weight: 600;
    color: #95A2BB;
    margin-bottom: 20px;
}
.portfolio h2 span{
    font-weight: 500;
}
.portfolio p{
    color: #95A2BB;
    line-height: 1.6;
    margin-bottom: 100px;
}

.owl-carousel .item img{
    width: 700px;
    height: 300px;
    border: 2px solid #95A2BB;
    object-fit: cover;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none !important;
    border-radius: 50%;
    border: 2px solid #55BA53 !important;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: #55BA53 !important;
}

/* For larger screens */
@media (min-width: 768px) {
    .owl-carousel .item img {
        width: 200px; /* Fixed width for larger screens */
        height: 300px; /* Fixed height */
        border: 2px solid #95A2BB;
       
    }
}

/* For smaller screens */
@media (max-width: 767px) {
    .owl-carousel .item img {
        width: 200px; /* Make the image responsive to fit the screen */
        height: 300px; /* Maintain aspect ratio */
        max-width: 700px; /* Limit maximum width to 700px */
        border: 2px solid #95A2BB;
       
    }
}





/* Teams Section Styling */
#teams h3{
    color: #0A2940;
    font-size: 14px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
#teams h2{
    font-size: 40px;
    font-weight: 600;
    color: #0A2940;
    margin-bottom: 20px;
}
#teams h2 span{
    font-weight: 500;
}
#teams p{
    color: #0A2940;
    line-height: 1.6;
    margin-bottom: 100px;
}
#teams .wrapper .card-items{
    margin-top: -50px;
}
#teams .wrapper .card{
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    border-radius: 5px;
    box-shadow: 0 2px 20px rgba(0,0,0,0.2);
    overflow: hidden;
    /* width: 280px; */
    z-index: 1;
    transition: all 0.5s ease;
}
#teams .wrapper .card:hover{
    background: #0A2940;
    transform: scale(1.05);
    cursor: pointer;
}
#teams .wrapper .card .card-header{
    display: inline-block;
    width: 180px;
    height: 180px;
    overflow: hidden;
    border-radius: 100%;
    margin: 30px auto;
    transform: translateY(40px);
}
#teams .wrapper .card .card-header img{
    width: 100%;
    height: auto;
}
#teams .wrapper .card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 200px;
}
#teams .wrapper .card h3{
    font-size: 16px;
    color: #95A2BB;
    padding-top: 30px;
}
#teams .wrapper .card .card-body h4{
    font-size: 14px;
    font-weight: 600;
    color: #55BA53;
    margin-top: 0px;
}
#teams .wrapper .card .card-body ul{
    display: flex;
    list-style: none;
    padding-top: 50px;
}
#teams .wrapper .card .card-body ul li i{
    padding: 5px;
    margin: 0 7px;
    border: 1px solid #95A2BB;
    border-radius: 50%;
    background: #0A2940;
    color: #55BA53;
    transition: all 0.3s ease;
}
#teams .wrapper .card .card-body ul li i:hover{
    background: #55BA53;
    color: #0A2940;
}



/*---testimonial----*/
#testimonial{
    width:100%;
    padding:70px 0;
    }
    .testimonial-row{
        width:80%;
        margin: auto;
        display:flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .testimonial-col{
        flex-basis:28%;
        padding: 10px;
        margin-bottom: 30px;
        border-radius: 5px;
        box-shadow: 0 10px 20px 3px #00968814;
        cursor: pointer;
        transition: transform.5s;
    }
    .testimonial-col p{
        font-size: 14px;
    }
    .user{
        display: flex;
        align-items: center;
        margin: 20px 0;
       
    }
    .user img{
        width:40px;
        margin-right: 20px;
        border-radius: 3px;
    }
    .user-info .fa{
        margin-left: 10px;
        color: #27c027;
        font-size: 20px;
    }
    .user-info small{
        color: #009688;
    }
    .testimonial-col:hover{
        transform: translateY(-7px);
    }
    @media screen and (max-width:770px){
        .testimonial-col{
            flex-basis: 100%;
    
        }
    }

/* Blog Section Styling  */
#blog{
    background: #0A2940;
}
#blog .wrapper .header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
#blog .wrapper .header span{
    height: 1px;
    width: 4%;
    background: #95A2BB;
}
#blog .wrapper .header h4{
    color: #95A2BB;
    padding-left: 15px;
    text-transform: uppercase;
}
#blog .wrapper .blog-info{
    margin-bottom: 20px;
}
#blog .wrapper .blog-info h2{
    font-size: 40px;
    color: #95A2BB;
    font-weight: 600;
}
#blog .wrapper .blog-info h2 span{
    font-weight: 500;
}
#blog .wrapper .blog-info a{
    text-decoration: none;
    padding: 10px 20px;
    background: #55BA53;
    color: #0A2940;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    border: 2px solid #55BA53;
    border-radius: 5px;
    transition: 0.5s;
}
#blog .wrapper .blog-info a:hover{
    background: none;
    color: #95A2BB;
}
/* #blog .wrapper .blog-card{
    display: flex;
    margin-top: -50px;
    justify-content: space-between;
    flex-wrap: wrap;
} */
#blog .wrapper .card{
    background-color: #cfcfcf;
    border-radius: 5px;
    box-shadow: 0 2px 20px rgba(0,0,0,0.2);
    overflow: hidden;
    z-index: 1;
    transition: all 0.5s ease;
}
#blog .wrapper .card:hover{
    transform: scale(1.05);
}
#blog .wrapper .card .card-header img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    margin-bottom: 10px;
}
#blog .wrapper .card .card-body .tag{
    background: #ccc;
    border-radius: 50px;
    font-size: 12px;
    margin: 30px;
    color: #fff;
    padding: 5px 10px;
    text-transform: uppercase;
    cursor: pointer;
}
#blog .wrapper .card .card-body .tag-yellow{
    background-color: yellow;
}
#blog .wrapper .card .card-body .tag-purple{
    background-color: #5C76BF;
}
#blog .wrapper .card .card-body .tag-pink{
    background-color: #CD5B9F;
}
#blog .wrapper .card .card-body h4{
    margin: 10px 30px;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 1.4;
    color: #0A2940;
}
#blog .wrapper .card .card-body .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 10px 2px 30px;
    border-top: 1px solid #536DAF;
    padding: 5px 0;
}
#blog .wrapper .card .card-body .footer small{
    color: #1A1B1E;
    font-weight: 600;
}
#blog .wrapper .card .card-body .footer a{
    padding: 5px 10px;
    background: #55BA53;
    border-radius: 4px;
    color: #0A2940;
}

/* Contact Section Styling */
#contact h2{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
}
#contact p{
    color: #fff;
    line-height: 1.6;
    margin-bottom: 50px;
}
#contact .wrapper form{
    display: flex;
    flex-direction: column;
    /* max-width: 550px;
    margin: 0 auto; */
}
#contact .wrapper form input{
    /* padding: 8px; */
    border: #ddd 1px solid;
    outline: none;
    border-radius: 5px;
    margin: 10px 0;
}
#contact .wrapper form .button{
    /* padding: 8px; */
    margin-bottom: 100px;
    background: #0A2940;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.3s ease;
}
#contact .wrapper form .button:hover{
    background: #1A1B1E;
    color: #fff;
    cursor: pointer;
}

/* Footer Section Styling  */
.footer-bottom{
    background: #1A1B1E;
    color: #536DAF;
}
.footer-bottom p{
    font-size: 14px;
    font-weight: 600;
}

/* Scroll up Styling */
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    border: 1px solid #fff;
    background: #0A2940;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    opacity: 1;
    pointer-events: auto;
    bottom: 30px;
}



/* =========== Footer ============ */
/* .footer {
    background-color: var(--text-1);
  }
  
  .footer .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 7rem 3rem;
  }
  
  .footer .row .col:last-child {
    display: grid;
    grid-template-columns: repeat(2, minmax(10rem, 1fr));
    gap: 2rem;
  }
  
  .footer .row .col:last-child img {
    height: 10rem;
  }
  
  .footer .row .col {
    display: flex;
    flex-direction: column;
  }
  
  .footer .row .col h3 {
    color: var(--white);
    margin-bottom: 2rem;
  }
  
  .footer .row .col a {
    display: inline-block;
    color: var(--white);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  @media (max-width: 767px) {
    .footer .row {
      row-gap: 7rem;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 567px) {
    .footer .row {
      gap: 4rem 0;
      grid-template-columns: 1fr;
    }
  } */
  

  
/*--footer--*/


.title-text{
    display: flex;
    align-items:center;
    justify-content: center ;
    margin: 30px;
    flex-direction: column;
}

#footer{
    padding:100px 0 20px ;
    background: #efefef;
    position: relative;
}
.footer-row{
    width:80%;
    margin: 0 auto;
    display: flex;
    justify-content:space-between ;
     flex-wrap: wrap;
}
.footer-left , .footer-right{
    flex-basis:45% ;
    padding: 10px;
    margin-bottom: 20px;
 }
 .footer-right{
    text-align: right;
 }
 .footer-row h1{
    margin:10px o;
 }
 .footer-row p{
    line-height: 35px;
 }
 .footer-left .bx , .footer-right .bx{
    font-size: 20px;
    color: #009688;
    margin: 10px;
 }
 .footer-img{
    max-width: 370px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
 }
 .social-links{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
 }

 .social-links li{
    list-style-type: none;
 }

 .social-links .bx{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border:1px solid #009688;
    margin:40px 5px 0;
    color: #009688;
    cursor: pointer;
    transition: .5s;
 }
    .social-links .bx:hover{
        background: #009688;
        color: #fff;
        transform: translateY(-7px);
    }
    .social-links p{
        font-size: 12px;
        margin-top: 20px;
    }
@media screen and (max-width:770px){
    footer-left , .footer-right{
        flex-basis:100%;
        font-size: 14px;
     }
    .footer-img{
        top: 25%;
    }
}